In [143]:
import pandas as pd
employees = pd.read_csv (r'C:\Users\firne\bip-python-unh\user_audit\data\employees.csv')
system = pd.read_csv (r'C:\Users\firne\bip-python-unh\user_audit\data\system_access.csv')
system.rename(columns={'id':'employee_number'}, inplace=True)
employees.head()

,employee_number,first_name,last_name,email,title
0,EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales
1,EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant
2,EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant
3,EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant
4,EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager

In [144]:
system['employee_number'] = system['employee_number'].astype(str)
system['employee_number'] = system['employee_number'].apply(lambda x: x.zfill(6))
employees['employee_number'] = employees['employee_number'].str[3:]

In [145]:
employees.set_index('employee_number', inplace=True)
system.set_index('employee_number', inplace=True)
df = employees.join(system, how= 'left')
system['access_level'] = system['access_level'].astype(str)
df.head()

,first_name,last_name,email,title,access_level
employee_number,,,,,
003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin

In [146]:
newdf = df.query('access_level' == "NaN")
newdf

ValueError: expr must be a string to be evaluated, <class 'bool'> given

In [ ]:
#.loc to replace values